/*===== Global ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    background-color: #15222a;
}

h1 {
    margin: 4rem 1rem 1rem;
    font-weight: 400;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    text-align: center;
}

a {
    color: #6f89e7;
    text-underline-offset: 6px;
}

a:hover {
    color: #06c7e1;
}

/*===== Containers ===== */

.container {
    margin: 5rem;
    width: 50rem;
    height: 44rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    letter-spacing: 1.2px;
    box-shadow: 6px 7px 12px -2px #0f1011, inset -7px -8px 12px -3px #090f12, inset 9px 8px 4px -2px #21323c;
}

/*===== Form Styles ===== */

.form-container {
    flex-direction: column;
    width: 85%;
}

.form-container, .form-group, label {
    display: flex;
    justify-content: center;
}

label {
    align-items: center;
    font-size: 1.1rem;
    margin-right: 1rem;
    width: 65px;
    text-align: left;
}

input:first-of-type {
    margin-top: 1rem;
}

input:last-of-type {
    margin-top: 0.5rem;
}

input {
    width: 50%;
    padding: 0.3rem;
    flex-grow: 2;
    font-size: 1rem;
}

/*===== Display Info ===== */

.displayInfo {
    margin: 1rem 1rem 3rem;
    width: 80%;
    height: 20rem;
    background-color: rgb(20 32 40);
    padding: 2rem;
    border-radius: 10px;
    display: grid;
    overflow: auto;
    box-shadow: inset -7px -8px 12px -3px #152c39, inset 9px 8px 4px -2px #131a20;
}
.displayInfo > div {
    padding: 0 0.8rem 0 0.8rem;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.3rem);
    display: flex; 
}

/*===== Quote Container ===== */

#searchQuoteContainer {
    flex-direction: column;
    text-align: center;
}

#searchQuoteContainer p {
    margin: 1rem 0 1rem 0;
}


/*===== Quote, Author and Profession ===== */

.quote {
    margin-bottom: 2.5rem;
    font-style: italic;
    align-items: center;
    justify-content: center;

}

.author, .profession {
    text-align: center; 
    justify-content: center;
}

.author {
    font-weight: 600;
    align-items: end;
}

.profession {
    font-weight: 300;
    font-size: clamp(0.5rem, 0.8vw + 0.4rem, 1rem);
    align-items: start;
}

/*===== Button ===== */

button {
    margin: 1.3rem;
    padding: 0.5rem;
    width: auto;
    display: inline;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: #06c7e1;
    box-shadow: 6px 7px 12px -2px #0f1011;
    transition: all 0.2s ease-out;
    align-self: center;
    flex-shrink: 0;
}

button:hover {
    background-color: #6f89e7;
}

button:active {
    background-color: #004085;
}

@media (min-width: 480px) {
    button {
        padding: 1rem;
    }
    .quote {
        margin-bottom: none;
        height: 6rem;
    }
}

@media (min-width: 600px) {
    form {
        width: 50%;
    }

    .form-container {
        width: 100%;
        flex-direction: row;
        align-self: flex-end;
    }

    .author, .profession {
        justify-content: flex-end;
    }
}
