/*===== Global ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ebebeb;
  background-color: #15222a;
}

/*===== Typography ===== */

h1 {
  margin: 4rem 1rem 1rem;
  font-weight: 400;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  text-align: center;
}

a {
  padding-bottom: 3rem;
  color: #6f89e7;
  text-underline-offset: 6px;
}

a:hover {
  color: #06c7e1;
}

/*===== Container ===== */

.container {
  margin: 1rem;
  width: 65rem;
  height: 46rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  letter-spacing: 1.2px;
  box-shadow: 6px 7px 12px -2px #0f1011, inset -7px -8px 12px -3px #090f12, inset 9px 8px 4px -2px #21323c;
}

/*===== Form Styles ===== */

.form-container {
  padding: 0 1rem;
  flex-direction: column;
}

.form-container,
.form-group,
label {
  display: flex;
  justify-content: center;
}

label {
  margin-right: 1rem;
  width: 65px;
  font-size: 1rem;
  align-items: center;
}

input:last-of-type {
  margin-top: 0.5rem;
}

input {
  margin: 0.3rem 0;
  padding: 0.3rem 0.5rem;
  width: 50%;
  flex-grow: 1;
  font-size: 1rem;
}

/*===== Display Info ===== */

.displayInfo {
  margin: 1rem 1rem 3rem;
  width: 80%;
  height: 20rem;
  background-color: rgb(20 32 40);
  padding: 2rem;
  border-radius: 10px;
  display: grid;
  overflow: auto;
  box-shadow: inset -7px -8px 12px -3px #152c39, inset 9px 8px 4px -2px #131a20;
}

.displayInfo > div {
  display: flex;
}

/*===== Quote Container ===== */

#searchQuoteContainer {
  flex-direction: column;
  text-align: center;
}

#searchQuoteContainer p {
  margin: 1rem 0 1rem 0;
}

#searchQuoteContainer p:nth-child(2) {
  font-weight: 100;
}

#searchQuoteContainer p:last-of-type {
  font-weight: 100;
}

/*===== Quote, Author and Profession ===== */

.quote {
  margin-bottom: 2.5rem;
  font-size: clamp(0.8rem, 1vw + 0.75rem, 1.25rem);
  font-style: italic;
  align-items: center;
  justify-content: center;
}

.author,
.profession,
.topic {
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1.125rem);
  text-align: center;
  justify-content: center;
}

.author {
  font-weight: bold;
  align-items: end;
}

.profession {
  font-weight: 100;
  align-items: start;
}

/*===== Button ===== */

button {
  margin: 1.3rem 0;
  padding: 1rem;
  display: inline;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  background-color: #06c7e1;
  box-shadow: 6px 7px 12px -2px #0f1011;
  transition: all 0.2s ease-out;
  align-self: center;
}

.search-button {
  width: 40%;
  letter-spacing: 1.2px;
}

button:hover {
  background-color: #6f89e7;
}

button:active {
  background-color: #004085;
}

.black-text-color {
  color: #000; /* Added this class to (generate random quote button) to ensure text remains black on mobile view where it otherwise turns purple */
}

/*===== Media Query ===== */

@media (min-width: 480px) {
  .container {
    margin: 2rem;
  }
  button {
    padding: 1rem;
  }
  .quote {
    margin-bottom: none;
  }
  .form-container {
    width: 75%;
  }

  input {
    margin: 0.3rem 4rem 0.3rem 0;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 3rem;
  }
  .form-container {
    width: 62%;
  }
}

@media (min-width: 991px) {
  .container {
    margin: 5rem;
  }
  form {
    width: 50%;
  }

  .form-container {
    padding: 1rem 0;
    width: 90%;
    flex-direction: row;
  }

  label {
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }

  input {
    margin-right: 0;
  }

  .search-button {
    margin: 1.3rem;
    width: 15%;
  }

  .author,
  .profession {
    justify-content: flex-end;
  }
}
